html {
 font-family: 'Overpass', sans-serif;
 background-image: linear-gradient(#ff9500, #ff5e3a);
 color: #fff;
  }

btn {
  color: #fff;
  }

item {
  border bottom: 2px solid rgba(255, 255, 255, .5);
}

@media screen and (min-width: 60em) {

  .item {
      border right: 2px solid rgba(255, 255, 255, .5);
      border-bottom: 0;
  }

}
