html {
 font-family: 'Overpass', sans-serif;
 color: #fff;
  }

.contain{
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

.btn {
  color: #fff;
  border-color: rgba(255, 255, 255, .5);
  }

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border-color: rgba(255, 255, 255, .5);
}

.item {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

@media screen and (min-width: 60em) {

  .item {
    border-top: 0;
    border-bottom: 0;
    border-right: 2px solid rgba(255, 255, 255, .5);
    border-left: 2px solid rgba(255, 255, 255, .5);
  }

}
